<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('partials/header', { pageTitle: 'Trang chủ' }) %>
    <p>Chào mừng đến với trang chủ hehehe!</p>
    <img src="/test.png" alt="My Image" />
</body>

</html>